@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,300italic);

body {
	font-family: "Fira Sans", Helvetica, Arial;
}

body h1 {
    font-size: 50px;
}

.top, .navbar {
	font-family: Oswald, Helvetica, Arial;
	margin-bottom: 0;
}

.navbar {
    background-color: transparent;
    border-radius: none;
    border: 0px;
}

#headlogo {
	float: left;
	margin-right: 1em;
}

li {
	font-size: 15px;
}

li:hover {
	background-color: #AEEEEE;
}

.sub-menu {
    display: none;
    list-style-type: none;
}

.sub-menu a {
	text-decoration: none;
	text-align: left;
}

.navbar-collapse.collapse {
    display: block!important;
}

.navbar-nav>li, .navbar-nav {
    float: left !important;
}

.navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
}

.navbar-right {
    float: right!important;
}

@media (min-width: 768px) {
    .top {
        margin-bottom: 1em;
        background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.35)), url(../img/background.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 400px;
    }

	.top h1 {
		font-size: 75px;
        padding-top: 3.5em;
        text-align: right;
        color: white;
	}

    li {
        font-size: 20px;
    }

    li:hover {
        background-color: #AEEEEE;
        font-size: 25px;
    }

    li:hover > .sub-menu {
        display:block;
    }
}