<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Blue Stilly</title>

	<!--Bootstrap css, using integrity attr to ensure correct content was downloaded -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <!-- link to css -->
    <link rel="stylesheet" href="css/main.css">

	<link rel="icon" href="img/icon.png"/>

    <!-- angular script file -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular-animate.min.js"></script>

	<!--angular ui-router module-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>

	<!-- ui bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap.js"></script>
    
    <!-- link to javascript -->
    <script src="js/app.js"></script>
</head>


<body ng-app="WebApp">
    <!-- WHEN MEDIA MIN-WIDTH > 768PX -->

    <div ng-controller="HomeController">
        <div class="main">
            <div class="enterText container">
                <h1 ng-if="visible">Welcome to<br />Blue Stilly Coffee!</h1>
            </div>

            <h3 id="enter" ng-click="toggle()"><br />ENTER<i class="fa fa-arrow-circle-right"></i></h3>

            <div class="enterText" ng-if="visible">
                <p id="question">What would you like to do?</p>
                <ul>
                    <li><a href="navbar/store.html">SHOP</a></li>
                    <li><a href="navbar/aboutus.html">OUR STORY</a></li>
                    <li><a href="navbar/contact.html">CONTACT US</a></li>
                    <li><a href="account/signup.html">SIGN UP</a> | <a href="account/login.html">LOGIN</a></li>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>