<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blue Stilly</title>

    <!--Bootstrap css, using integrity attr to ensure correct content was downloaded -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <!-- link to css -->
    <link rel="stylesheet" href="../css/main.css">
    <link rel="icon" href="../img/icon.png"/>

    <!-- angular script file -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.2.2/angular-local-storage.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular-animate.min.js"></script>

    <!-- ui bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap.js"></script>

    <!-- link to javascript -->
    <script src="../js/app.js"></script>
</head>
<body ng-app="WebApp">

    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../index.html" class="active">Blue Stilly</a>
            </div>
            <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed = true">
                <ul class="nav navbar-nav">
                    <li><a href="../navbar/aboutus.html">OUR STORY</a></li>
                    <li><a href="../navbar/store.html">STORE</a></li>
                    <li><a href="../navbar/news.html">NEWS</a></li>
                    <li><a href="../navbar/contact.html">CONTACT US</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="signup.html"><span class="glyphicon glyphicon-user"></span> SIGN UP</a></li>
                    <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> LOGIN</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> CART</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container top">

    </div>
    <div>
        <h3 class="text-center">CART</h3>
        <hr/>
    </div>

    <main class="container-fluid">
        <div class="row" id="order">
            <h2><b>Your cart</b></h2>
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th>Lb</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Ext Price</th>
                </tr>
                </thead>
                <tbody>
                    <!-- <tr ng-repeat="item in cart.items">
                        <td class="btn btn-default" ng-click="removeProduct($index)"> -->
                    <tr>
                        <td class="btn btn-default">
                            <i class="fa fa-minus"></i></td>
                        <!--
                            <td>{{item.name}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.price | currency}}</td>
                            <td>{{item.price * item.quantity | currency}}</td> -->

                       <td>2</td>
                       <td>Ethiopian Harrar</td>
                       <td>$15</td>
                       <td>$30</td>
                    </tr>
                    <tr>
                        <td class="btn btn-default">
                            <i class="fa fa-minus"></i></td>
                        <td>5</td>
                        <td>Honduran</td>
                        <td>$15</td>
                        <td>$75</td>
                    </tr>
               </tbody>
           </table>
           <h4>Grand Total: $105</h4>
            <!--
           <h3>Grand Total: {{getCartTotal() | currency}}</h3>
           -->

            <a class="btn btn-primary">Check Out</a>
        </div>
    </main>
    <footer>
        <hr/>
        <div class="container">
            <p><a href="aboutus.html">About Us</a> | <a href="contact.html">Contact Us</a></p>
            <p>&copy; 2014 <strong>Blue Stilly</strong> Coffee. All Rights Reserved</p>
        </div>
    </footer>
</body>
</html>