<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blue Stilly</title>

    <!--Bootstrap css, using integrity attr to ensure correct content was downloaded -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <!-- link to css -->
    <link rel="stylesheet" href="../css/main.css">

    <!-- angular script file -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular-animate.min.js"></script>
    
    <!-- link to javascript -->
    <script src="../js/app.js"></script>
</head>
<body ng-app="WebApp">
    <div class="container top">
        <h1>Blue Stilly Coffee</h1>
        <!-- Can we get the blue stilly coffee to have some transition? -->
    </div>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../index.html" class="active">Blue Stilly</a>
            </div>
            <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed = true">
                <ul class="nav navbar-nav">
                    <li><a href="../navbar/aboutus.html">Our Story</a></li>
                    <li><a href="../navbar/store.html">Store</a></li>
                    <li><a href="../navbar/news.html">News and Events</a></li>
                    <li><a href="../navbar/contact.html">Contact Us</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="signup.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <footer>
        <hr/>
        <div class="container">
            <p><a href="aboutus.html">About Us</a> | <a href="contact.html">Contact Us</a></p>
            <p>&copy; 2014 <strong>Blue Stilly</strong> Coffee. All Rights Reserved</p>
        </div>
    </footer>
</body>
</html>