<div class = "container-fluid">
    <form name="logIn" ng-submit="submit()" nonvalidate>
        <div class="form-group">
            <label for="email">Email</label>
            <input autofocus type="email" id="email" class="form-control" required
                   placeholder="Email Address" ng-model="user.email" exist-user>
            <p class="validation-error"
               ng-if="logIn.email.$dirty && signUp.email.$error.required">
                Email address is required
            </p>
            <p class="validation-error"
               ng-if="logIn.email.$dirty && signUp.email.$error.email">
                Please enter a valid email address
            </p>
            <p class="validation-error"
                    ng-if="logIn.email.$dirty && logIn.email.$error.existUser">
                Email address doesn't exist.
            </p>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary"
                    ng-disabled="logIn.$invalid" >
                Log in
            </button>
        </div>
    </form>
</div>