<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blue Stilly</title>

    <!--Bootstrap css, using integrity attr to ensure correct content was downloaded -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <!-- link to css -->
    <link rel="stylesheet" href="../css/main.css">
    <link rel="icon" href="../img/icon.png"/>

    <!-- angular script file -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular-animate.min.js"></script>
    
    <!-- link to javascript -->
    <script src="../js/app.js"></script>
</head>

<body ng-app="WebApp">
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../index.html" class="active">Blue Stilly</a>
            </div>
            <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed = true">
                <ul class="nav navbar-nav">
                    <li><a href="../navbar/aboutus.html">OUR STORY</a></li>
                    <li><a href="../navbar/store.html">STORE</a></li>
                    <li><a href="../navbar/news.html">NEWS</a></li>
                    <li><a href="../navbar/contact.html">CONTACT US</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> SIGN UP</a></li>
                    <li><a href="login.html"><span class="glyphicon glyphicon-log-in"></span> LOGIN</a></li>
                    <li><a href="cart.html"><span class="glyphicon glyphicon-shopping-cart"></span> CART</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container top"></div>

    <main class = "container-fluid" id="signup" >
        <div class="row">
            <h3 class="text-center">SIGN UP</h3>
            <hr/>
            <p class="subtitle">Sign Up Today!</p>
            <form class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4" name="signUp" ng-submit="submit()" novalidate>
                <div class="form-group">
                    <label class="formLabel" for="fname">First name</label>
                    <input autofocus type="text" id = "fname" class="form-control"
                            ng-model="user.fname"/>
                </div>

                <div class="form-group">
                    <label class="formLabel" for="lname">Last name</label>
                    <input type="text" id="lname" class="form-control" required
                           pattern="[a-zA-Z-]+" ng-model="user.lname"/>
                    <p class="validation-error"
                       ng-if="signUp.lname.$dirty && signUp.lname.$error.required">
                        Last name is required
                    </p>
                    <p class="validation-error"
                       ng-if="signUp.lname.$error.pattern">
                        Last name must be alphabetical
                    </p>
                </div>

                <div class="form-group">
                    <label class="formLabel" for="email">Email</label>
                    <input type="email" id="email" class="form-control" required
                            ng-model="user.email">
                    <p class="validation-error"
                       ng-if="signUp.email.$dirty && signUp.email.$error.required">
                        Email address is required
                    </p>
                    <p class="validation-error"
                       ng-if="signUp.email.$dirty && signUp.email.$error.email">
                        Please enter a valid email address
                    </p>
                </div>

                <div class="form-group">
                    <label class="formLabel" for="password">Create Password</label>
                    <input type="password" id="password" class="form-control" required
                           ng-model="user.password"/>
                    <p class="validation-error"
                       ng-if="signUp.password.$dirty && signUp.password.$error.required">
                        Password is required.
                    </p>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary col-md-12 col-sm-12"
                            ng-disabled = "signUp.$invalid">
                        Create An Account
                    </button>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <hr/>
        <div class="container">
            <p><a href="aboutus.html">About Us</a> | <a href="contact.html">Contact Us</a></p>
            <p>&copy; 2014 <strong>Blue Stilly</strong> Coffee. All Rights Reserved</p>
        </div>
    </footer>
</body>
</html>
