<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blue Stilly</title>

    <!--Bootstrap css, using integrity attr to ensure correct content was downloaded -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <!-- link to css -->
    <link rel="stylesheet" href="../css/main.css">
    <link rel="icon" href="../img/icon.png"/>

    <!-- angular.js-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular-animate.min.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
    
    <!-- link to javascript -->
    <script src="../js/app.js"></script>
</head>
<body ng-app="WebApp">
 <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../index.html" class="active">Blue Stilly</a>
            </div>
            <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed = true">
                <ul class="nav navbar-nav">
                    <li><a href="#">OUR STORY</a></li>
                    <li><a href="store.html">STORE</a></li>
                    <li><a href="news.html">NEWS</a></li>
                    <li><a href="contact.html">CONTACT US</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../account/signup.html"><span class="glyphicon glyphicon-user"></span> SIGN UP</a></li>
                    <li><a href="../account/login.html"><span class="glyphicon glyphicon-log-in"></span> LOGIN</a></li>
                    <li><a href="../account/cart.html"><span class="glyphicon glyphicon-shopping-cart"></span> CART</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END OF NAVBAR -->

     <div class="container top"></div>

    <div class="container" id="about">
        <h1>Who Are We?</h1>
        <p>
            One day, because of our love for coffee,we decided to learn as much as we could. We had already tried many different varieties and ordered from many roasters. We decided to visit some of the local roasters and discovered we loved the drum roasted coffee over the 'air' roasted. Drum roasted had more depth and flavor. We began to mail order coffee in bulk from our favorite roaster for ourselves, friends and family. It was time to strike out on our own. We purchased a Diedrich drum style roaster. It was a small-batch coffee shop model in brass, metallic green and black. After training with the old owner of the roaster, we incorporated and started business. Next we attended a training program at the Diedrich factory to hone our skills. It has worked out well for us, as we are HUGE consumers ourselves! We will generally roast your selection medium/dark, however, feel free to request your personal preference when you order!
        </p>
        <p>
            Roasted to order, and shipped FRESH to your door in a couple of days. We sell via the internet as well as by referral from our very satisfied customers!
        </p>
        <p>
            So please, if you love our coffee, please tell Everyone. If you don’t, please tell us!
        </p>
        <p>
            Thank you,
        </p>
        <p>
            Rick and Sue
        </p>
    </div>

    <div class="container" id="practices">
        <h1>Organic and Fair Trade</h1>

        <h2>Understanding Fair Trade Organic and Shade Grown Coffees</h2>

        <p>
            We often read and hear about Organic, Shade Grown and Fair Trade Coffees.
            These terms are often used cohesively as a singular term when in fact they are separate and distinct.
            To better understand these differences we should visit each individually. First one should understand Fair Trade.
            While understanding Fair Trade is somewhat difficult. Although the thought of Fair Trade is not new, it has become more prominent within the past decade.
            Established guidelines for these practices exist and several organizations worldwide certify both companies and products. T
            he focus is to promote better economic standards and working conditions in developing countries. Advocates of Fair Trade promote a market based approach.
            This approach helps Organic Coffeeproducers who are normally small farmers or co-ops to receive higher pricing on their exports that cover costs of sustainable production.
            These practices allow for the Fair Trade Premium to be invested in social, economic and environmental development.
            This in turn enhances the lives of the workers and their families. Also included in the practice of Fair Trade pricing is the development of long-term trading partnerships which gives the
            small farmers greater control over their trading process. There is an abundance of information available on this subject and the organizations involved and you are
            encouraged to investigate their contributions.
        </p>


        <h1>Organic Coffee</h1>
        <p>
            Organic coffees are grown and produced without the application of chemical fertilizers, pesticides and herbicides.
            Certified Organic can extend to include practices of composting recycling and protection of the environment.
            The use of organic practices may reduce the yield of the crop, but adds to the sustainability of future crops.
            Organic coffees are generally shade grown, helping to protect forest lands which in turn help nurture the soils with falling leaves and increased bird populations.
            There are three main requirements to be certified organic by US standards. These include crops grown on land free of pesticides and other banned substances for a
            period of three years. A significant space between the organic and traditional crops is required. Crop rotation is also required to prevent erosion, depletion of
            soil and control of pests. Organic certifications may not be economically available to all small farmers and co-ops.
            While these certifications may be out of reach, the farmers may in fact be farming organically as they have traditionally done for generations.
        </p>


        <h1>Shade Grown Coffee</h1>
        <p>
            Coffee plants were traditionally grown in shady conditions. When high production was required, new sun tolerant trees were developed.
            This resulted in cultivation practices that were not environmentally friendly. These same practices hold true for sun-grown coffee.
            Now there is a move to growing coffee shrubs under a canopy of diverse tree and native plant species. This practice encourages many bird species to
            flourish and helps to sustain the soil nutrients as well as providing natural pest control. There are two main certifications offered for shade grown coffees.
            The first is the Smithsonian Migratory Bird Center (SMBC) and the Rainforest Alliance. Both have developed sustainable product certifications.
            The main guidelines include less water pollution, less soil erosion, reduced threats to human health and wildlife habitat, as well as farm management and
            improved worker conditions and profitability for farmers. What does all of this mean to consumers? In some countries the use of pesticides and herbicides are
            not regulated. With these certifications consumers have the control to buy safe, chemically free products that are helping the environment while still providing
            the small farmers who bring the products to table a sustainable and healthy life. All of this does not come easily or inexpensively. Consumers are happy to pay a
            bit more knowing it is helping the planet.
        </p>
    </div>
    <footer>
        <hr/>
        <div class="container">
            <p><a href="aboutus.html">About Us</a> | <a href="contact.html">Contact Us</a></p>
            <p>&copy; 2014 <strong>Blue Stilly</strong> Coffee. All Rights Reserved</p>
        </div>
    </footer>
</body>
</html>