<main class="container" ng-controller="ProductDetailCtrl">
    <h3 class="text-center">STORE</h3>
    <hr/>
    <p>Shop View Test</p>
    <a class="btn btn-primary" button type='submit' ui-sref="minaCart">Cart</a>


    <div class="row row-eq-height">
        <div class=" container types">
            <ul>
                <li>
                    <a href="#types" ng-click = "filters.categories = ''">All</a>
                </li>
                <li ng-repeat="c in categories |orderBy: c">
                    <a href="#types" ng-click="filters.categories = c">{{c}}</a>
                </li>
            </ul>
            <div class="alert alert-success fade in" ng-if="confirmation">
                <a href="#" class="close" ng-click = 'closeAlert()'>&times;</a>
                <p>{{selectedProduct.quantity}} {{selectedProduct.name}} has been added to your cart!</p>
            </div>
        </div>

        <div class="col-md-12">
            <script type="text/ng-template" id="product-detail.html">
                <span id="close-window" ng-click="close()"><i class="fa fa-times"></i></span>
                <div class="row modal-body product-detail">

                    <div class="col-sm-5 col-md-5 col-lg-5">
                        <img class="detail-img" ng-src="{{product.photo}}"/>
                    </div>
                    <div class="col-sm-7 col-md-7 col-lg-7">
                        <h3>{{product.name}}</h3>
                        <h3>{{product.price | currency}}</h3>
                        <div>
                            <div class="selectBox">
                                <p>Quantity</p>
                                <select ng-model='product.quantity' class="form-control">
                                    <option selected value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                            <div class="selectBox" ng-if='product.grind'>
                                <p>Grind</p>
                                <select class="form-control">
                                    <option ng-repeat="g in product.grind" value="{{g}}">{{g}}</option>
                                </select>
                            </div>
                            <div>
                                <button class="btn btn-info" ng-click="submit()"> ADD TO CART</button>
                            </div>
                            <div>
                                <hr class="product-detail-hr"/>
                                <p>PRODUCT INFO</p>
                                <p>{{product.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </script>

            <div class="col-sm-6 col-md-4 col-lg-3 products-list" ng-repeat = "product in products |filter: filters|orderBy: 'categories'">
                <div class="item">
                    <div class="text-hover">
                        <img class="product-img" ng-src="{{product.photo}}"/>
                        <div class="overlay">
                            <span ng-click="open(product)"><i class="fa fa-eye"></i> QUICK VIEW</span>
                        </div>
                    </div>

                    <p class="product-name">{{product.name}}</p>
                    <p>{{product.price | currency}}</p>
                </div>
            </div>
        </div>
    </div>
</main>

<!--<footer>-->
    <!--<hr/>-->
    <!--<div class="container">-->
        <!--<p><a href="aboutus.html">About Us</a> | <a href="contact.html">Contact Us</a></p>-->
        <!--<p>&copy; 2014 <strong>Blue Stilly</strong> Coffee. All Rights Reserved</p>-->
    <!--</div>-->
<!--</footer>-->

<!--<body>-->
<!--<div class="container" ng-app="WebApp">-->
    <!--<p>Shop View Test</p>-->
    <!--<a class="btn btn-primary" button type='submit' ui-sref="minaCart">Cart</a>-->
<!--</div>-->
<!--</body>-->
