<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blue Stilly</title>

    <!--Bootstrap css, using integrity attr to ensure correct content was downloaded -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- link to css -->
    <link rel="stylesheet" href="../css/main.css">

    <!-- animsition.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.1/css/animsition.css">
    
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- animsition.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.1/js/animsition.js"></script>

    <!-- angular.js-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

    <!--loadash-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>

    <!--ui routing-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>

    <!-- link to javascript -->
    <script src="../js/app.js"></script>
    <script src="../js/shop.js"></script>
</head>
<body ng-app="ProductsApp" ng-controller="ProductsController" class="animsition">

    <nav class="navbar navbar-default">
        <div class="container">
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="../index.html" class="animsition-link">Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle animsition-link" href="aboutus.html">About Us</a>
                        <ul class="sub-menu">
                            <li><a href="aboutus.html#about">About Us</a></li>
                            <li><a href="aboutus.html#practices">Practices</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle animsition-link"
                           href="store.html">Store</a>
                        <ul class="sub-menu">
                            <li><a href="store.html">Coffee</a></li>
                            <li><a href="store.html">Tea</a></li>
                            <li><a href="store.html">Accessories</a></li>
                        </ul>
                    </li>

                    <li><a href="faq.html" class="animsition-link">FAQ</a></li>
                    <li><a href="news.html" class="animsition-link">News and Events</a></li>
                    <li><a href="contact.html" class="animsition-link">Contact Us</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../account/signup.html" class="animsition-link"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="../account/login.html" class="animsition-link"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li><a href="../account/cart.html" class="animsition-link"><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="container">
        <h2>Store</h2>


        <div class="row row-eq-height">
            <div class="col-md-2 col-sm-2">

                <ul id="types">
                    <li>Shop By</li>
                    <li ng-repeat="c in categories |orderBy: c">
                        <a href="#types" ng-click="filters.categories = c">{{c}}</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-10 col-sm-10">
                <div class="col-sm-6 col-md-4 col-lg-3 products-list"ng-repeat = "product in products |filter: filters |orderBy: 'name'">
                    <div class="text-hover">
                        <img class="product-img" ng-src="{{product.photo}}"/>
                        <div class="overlay">
                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"><i class="fa fa-eye"></i> Quick View</button>
                        </div>
                    </div>

                    <p>{{product.name}}</p>
                    <p>{{product.price | currency}}</p>

                    <button>ADD TO BAG</button>
                </div>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </main>
</body>
</html>